<!DOCTYPE html>
<html>
<head>

  <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/static/styles.css">

  <script src="https://kit.fontawesome.com/623b1cea16.js" crossorigin="anonymous"></script>

    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>

</head>



<body>
  {% if 'user_id' in session %}
  <nav class="navbar navbar-default navbar-static-top navbar-expand-lg navbar navbar-light" id="navbar">
    <a class="navbar-brand" href="/"><i class="fas fa-shoe-prints"></i> Tracer</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/lang"><i class="fas fa-globe-americas"></i> Language/Idioma <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/recs"><i class="far fa-comments"></i> {{ _('Recommendations') }} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user_profile"><i class="far fa-address-card"></i> {{ _('Profile') }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/settings"><i class="fas fa-cogs"></i> {{ _('Settings') }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="logout"><i class="fas fa-sign-out-alt"></i> {{ _('Logout') }}</a>
        </li>
      </ul>
    </div>
  </nav>
  {% else %}
  <nav class="navbar navbar-default navbar-static-top navbar-expand-lg navbar navbar-light">
    <a class="navbar-brand" href="/"><i class="fas fa-shoe-prints"></i> Tracer</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/lang"><i class="fas fa-globe-americas"></i> Language/Idioma <span class="sr-only">(current)</span></a>
        </li> 
        <li class="nav-item active">
          <a class="nav-link" href="/guest_user"><i class="far fa-user"></i> {{ _('Guest User') }} <span class="sr-only">(current)</span></a>
        </li> 
      </ul>
    </div>
  </nav>
  {% endif %}
  
<br><br>
  <h1>{% block heading1 %}{% endblock %}</h1>


{% with messages = get_flashed_messages() %}

  {% if messages %}

<div class="alert alert-dark" role="alert">
    {% for message in messages %}
 {{ message }}
    {% endfor %}
</div>
  {% endif %}
{% endwith %}

{% block content%} {% endblock %}



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>
