{% extends 'base.html' %}

{% block title%}Home Page{% endblock %}
{% block heading1 %}{{ _('Welcome to Tracer!') }}{% endblock %}

{% block content%}

        {% if 'user_id' in session %}
        <h2>{{ _('Log Out') }}</h2><br>
        <form action="/logout">
        <p><a href="/user_profile">{{ _('User Profile') }}</a></p>
        <p><a href="/pollution_metrics">{{ _('Emission Calculator') }}</a></p>

        <input type="submit" value={{ _('Log Out') }}>

        </form>
        {% else %}
        <h2>{{ _('Login') }}</h2>
        <p><a href="/login" id="login">{{ _('Login Here') }}</a></p>
        <h2>{{ _('Register New User') }}</h2>
        <p><a href="/register">{{ _('Register Here') }}</a></p>
        <p><a href="/guest_user" id="guest_user">{{ _('Guest User') }}</a></p>

        <p><a href="/lang" id="lang">Change language/ Cambie de idioma</a></p>



{% endif %}

{% endblock %}