{% extends 'base.html' %}

{% block title%}Home Page{% endblock %}
{% block heading1 %}Welcome to Tracer!{% endblock %}

{% block content%}

        <h2>Register New User</h2>
        <p><a href="/register">Register Here</a></p>
        {% if 'user_id' in session %}
        <h2>Log Out</h2><br>
        <form action="/logout">

        <input type="submit" value="Log Out">
        </form>
        {% else %}
        <h2>Login</h2>
        <p><a href="/login">Login Here</a></p>
        <p><a href="/trans_metrics">Guest</a></p>
        


{% endif %}

{% endblock %}