{% extends 'base.html' %}

{% block title%}Language/Idioma{% endblock %}



{% block content%}
<div class="contentcontainer med left" style="margin-left: 300px; margin-right:300px; margin-top: 200px;">
    <form action="/lang" method="POST">
        <button type="radio" name="lang" value="spanish" class="btn btn-primary btn-lg btn-block">Español</button><br>
        <button type="radio" name="lang" value="English" class="btn btn-secondary btn-lg btn-block">English</button></a>
    </form>
</div>

{% endblock %}
