{% extends 'base.html' %}

{% block title%}{{ _('Pollution Metrics') }}{% endblock %}

{% block content%}
<div class="contentcontainer med left" style="margin-left: 100px; margin-right:100px">

    <form action="/pollution_metrics" method="POST">
        <div id="per_info">
        <h1>{{ _('Carbon Footprint Calculator') }}</h1><br>
        <h2>{{ _('Personal Information') }}</h2>
            <div class="form-row">
                <div class="col-6">
                    <label>{{ _('Enter zipcode') }}</label>
                    <br>
                    <input type='text' class="form-control" name='user_zipcode' 
                    placeholder="94103" required>
                </div>
                <div class="col-6">
                    <label>{{ _('Number of individuals in your household?') }}
                    </label>
                    <br>
                    <input type='number' class="form-control" name='num_people' 
                    id='num_people' placeholder="2" required>
                </div>
            </div><br>
        </div>

        <div class= "metric" id="trans">
        <h2>{{ _('Transportation') }}</h2>
            <div class="form-group" id="transportation">
                <label>{{ _('Do you use public transportation on a daily basis?') }} 
                </label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" 
                    name="transportation" value="yes">
                    <label class="form-check-label">{{ _('Yes') }}</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" 
                    name="transportation" value="no" >
                    <label class="form-check-label">
                    No
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" 
                    name="transportation" value="both">
                    <label class="form-check-label">
                    {{ _('Both, Public & Vehicle') }}
                    </label>
                </div><br>

                <h3>{{ _('Public Transportation') }}</h3>

                <div class="form-row">
                    <div class="col-6">
                        <input  type='number' class="form-control" 
                        name='pt_miles_per_week' value='0'> {{ _('miles/week') }}
                    </div>
                </div><br>

                <h3>{{ _('Vehicle') }}</h3>
                <div class="form-row">
                    <div class="col-6">
                        <label>{{ _('Number of cars driven per week') }}</label><br>
                        <input type='number' class="form-control" name='vehicle_num' placeholder="2">
                    </div>
                </div><br>

                <label>{{ _('How many miles do you travel per week for each vehicle?') }}
                </label><br>
                <div class="form-row"><br>
                    <div class="col-2">
                    <input  type='number' class="form-control" name='mi_wk_1' 
                    id='mi_wk_1' value='0' required>
                    </div>
                    <div class="col-2">
                        <input type='number' class="form-control" name='mi_wk_2' 
                        id='mi_wk_2' value='0' required>
                    </div>
                    <div class="col-2">
                        <input type='number' class="form-control" name='mi_wk_3' 
                        id='mi_wk_3' value='0' required> 
                    </div>
                    <div class="col-2">
                        <input type='number' class="form-control" name='mi_wk_4'
                         id='mi_wk_4' value='0' required> 
                    </div>
                    <div class="col-2">
                        <input type='number' class="form-control" name='mi_wk_5'
                         id='mi_wk_5' value='0' required> 
                    </div>
                </div><br>

                <h2>{{ _('Air Travel') }}</h2><br>
                <label>{{ _('Air miles traveled this year?') }} 
                </label><br>
                <input type='number' class="form-control" name='air_miles_yr' id='air_miles_yr' value= "0" required><br>
        </div>

        <div class="metric" id="energy">
        <h2>{{ _('Energy') }}</h2><br>
        <p>{{ _('How much do you pay per month?') }}</p>
        <p class="epa">{{ _('The values below reflect EPA average per person.') }}</p>
            <div class="form-row">
                <div class="col-3">
                    <label>{{ _('Electricity') }}</label><br>
                    <input type='number' class="form-control" 
                    name='electricity_amount' id='electricity_amount' value="23" 
                    required>
                </div>
                <div class="col-3">
                    <label>{{ _('Natural gas') }}</label><br>
                    <input type='number' class="form-control" name='natural_gas_amount' 
                    id='natural_gas_amount' value="44" required>
                </div>
                <div class="col-3">
                    <label>{{ _('Fuel') }}</label><br>
                    <input type='number' class="form-control" name='fuel_oil_amount' 
                    id='fuel_oil_amount' value="72" required> 
                </div>
                <div class="col-3">
                    <label>{{ _('Propane') }}</label><br>
                    <input type='number' class="form-control" name='propane_amount' id='propane_amount' value="37" required> 
                </div>
            </div>
        </div><br>    

        <div class="metric" id="waste">  
        <h2>{{ _('Waste') }}</h2>
            <div class="form-row">
                <div class="col-4">
                    <label>{{ _('Do you recycle aluminum?') }}</label><br>
                    <input type='radio' name='metal_waste' value='yes'id='metal_yes'>  
                    {{ _('Yes') }}
                    <input type='radio' name='metal_waste' value='no'id='metal_no'>  No
                </div><br>
                <div class="col-4">
                    <label>{{ _('Do you recycle plastic?') }}</label><br>
                    <input type='radio' name='plastic_waste' value ='yes' id='plastic_yes'>  {{ _('Yes') }}
                    <input type='radio' name='plastic_waste' value ='no' id='plastic_no'>  No
                </div><br>
                <div class="col-4">
                    <label>{{ _('Do you recycle glass?') }}</label><br>
                    <input type='radio' name='glass_waste' value='yes' id='glass_yes'>  
                    {{ _('Yes') }}
                    <input type='radio' name='glass_waste' value='no'id='glass_no'> 
                     No<br>
                </div>
            </div><br>

        <div class="metric" id="food">
        <h2>{{ _('Food') }}</h2>
        <p>{{ _('Enter Servings per day for each category') }}</p>
            <div class="form-row">
                <div class="col">
                    <label>{{ _('Meat, fish, and eggs') }}</label><br>
                    <input type='number' class="form-control" name='meat_serv' 
                    id='meat_serv' required>
                </div>
                <div class="col">
                    <label>{{ _('Grains and baked goods') }}</label><br>
                    <input type='number' class="form-control" name='grain_serv' 
                    id='grain_serv' required>
                </div>
                <div class="col">
                    <label>{{ _('Dairy') }}</label><br>
                    <input type='number' class="form-control" name='dairy_serv' 
                    id='dairy_serv' required> 
                </div>
                <div class="col">
                    <label>{{ _('Fruits & vegetables') }}</label><br>
                    <input type='number' class="form-control" name='fruit_serv' 
                    id='fruit_serv' required> 
                </div>
            </div>
        </div><br>
     
        <div class="metric" id="clothes">
        <h2>{{ _('Clothing') }}</h2>
        <div class="form-row">
            <div class="col">
                <label>{{ _('How much do you spend on clothes per month?') }}
                </label><br>
                <input type='number' class="form-control" name='clothes' 
                id='clothes' required> 
            </div>
        </div>

        <br><input type='submit' class="btn btn-primary" 
        value={{ _('Calculate Emissions') }}>
    </form>
</div>

{% endblock %}