{% extends 'base.html' %}
{% block content %}
{% block title%}{{ _('Registration') }}{% endblock %}

<h1>{{ _('Registration') }}</h1>

<form action="/register" method="POST">
    {{ _('First Name') }}: <input type="text" name="fname"><br>
    {{ _('Last Name') }}: <input type="text" name="lname"><br>
    {{ _('Zipcode') }}: <input type="text" name="user_zipcode"><br>
    {{ _('Email') }}: <input type="text" name="email"><br>
    {{ _('Password') }}: <input type="password" name="password"><br>
    <input type="submit" value= {{ _('Register to Tracer') }}>


</form>
{% endblock %}