{% extends 'base.html' %}

{% block title%}{{ _('Final Score') }}{% endblock %}
{% block heading1 %}{{ _('Score') }}{% endblock %}
 

{% block content%}

  <head>
      <div id='score'>  

      <p>{{ _('This year you released') }} {{ score }} 
      {{ _('tons of carbon emissions!') }} </p>
      <p>{{ _('You are') }} {{ avg_comparison }} % 
      {{ _('better than the average american.') }}</p>

    </div>

  <div class="score-chart">
    <canvas id="donutChart"></canvas>
    <div id="donutLegend" class="chart-legend"></div>
  </div>

   </head>
     <script type="text/javascript">
    
    const options = {
      responsive: true
    };

    // Make Donut Chart of percent of different types of scores
    var ctx_donut = $("#donutChart").get(0).getContext("2d");

    $.get("/user_data.json", function (data) {

      let myDonutChart = new Chart(ctx_donut, {
                                              type: 'doughnut',
                                              data: data,
                                              options: options
                                            });
      $('#donutLegend').html(myDonutChart.generateLegend())
  });
    </script>

        <p><a href="/recs" id="recs">Recommendations</a></p>




{% endblock %}