{% extends 'base.html' %}

{% block title%}{{ _('Final Score') }}{% endblock %}
 

{% block content%}
<div class="contentcontainer med left" style="margin-left: 200px; margin-right:200px">
  <h2>{{ _('Score') }}</h2>

  <div id='score'>  

    <p>{{ _('This year you released') }} {{ score }} 
      {{ _('tons of carbon emissions!') }} 
    </p>
    <p>{{ _('You are') }} {{ avg_comparison }} % 
      {{ _('better than the average american.') }}
    </p>

  </div>

  <div class="score-chart">
    <canvas id="donutChart"></canvas>
    <div id="donutLegend" class="chart-legend"></div>
  </div>

    <script type="text/javascript">
    
    const options = {
      responsive: true
    };

    // Make Donut Chart of percent of different types of scores
    var ctx_donut = $("#donutChart").get(0).getContext("2d");

    $.get("/user_data.json", function (data) {

      let myDonutChart = new Chart(ctx_donut, {
                                              type: 'doughnut',
                                              data: data,
                                              options: options
                                            });
  });
    </script>


</div>

{% endblock %}