{% extends 'base.html' %}

{% block title%}{{ _('Update Information') }}{% endblock %}

{% block content%}

<div class="contentcontainer med left" style="margin-left: 200px; margin-right: 200px">

  <h2>{{ _('Update Information') }}</h2>
  <div class="form-group">
    <form action="/settings" method="POST">
      <div class="form-group">
        <label>{{ _('First Name') }}</label><br>
        <input  type="text" class="form-control" name="fname" required>
      </div>
      <div class="form-group">
        <label>{{ _('Last Name') }}</label><br>
        <input type="text" class="form-control" name="lname" required>
      </div>
       <div class="form-group">
        <label>{{ _('Email') }}</label><br>
        <input  type="text" class="form-control" type="email" name="email" placeholder="email@email.com"required>
      </div>
      <div class="form-group">
        <label>{{ _('Password') }}</label><br>
        <input type="password" class="form-control" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">{{ _('Update') }}</button>
    </form>

  </div>
</div>

{% endblock %}