{% extends 'base.html' %}

{% block title%}Transportation Metrics{% endblock %}
{% block heading1 %}Transportation{% endblock %}

{% block content%}
<form action="/get_trans_metrics" method="POST">

  <p>Please answer all questions to the best of your ability.</p><br>
        Do you use public transportation on a daily basis? 
        <input type="radio" name="transportation" value="publictrans">Yes
        <input type="radio" name="transportation" value="publictrans">No
        <br>
        <h2>Public Transportation</h2><br>
        How many miles do you travel per week? 
        <input type='number' name='miles_per_week' id='miles_per_week'>
        <br>

        <h2>Vehicle</h2><br>
        Number of cars driven per week:
        <input type='text' name='vehicle_num' id='vehicle_num'>
        <br>
        How many miles do you travel per week? (for each vehicle)
        <br>
        <input type='number' name='miles_per_week' id='miles_per_week'>
        <input type='number' name='miles_per_week' id='miles_per_week'>
        <input type='number' name='miles_per_week' id='miles_per_week'>
        <input type='number' name='miles_per_week' id='miles_per_week'>
        <input type='number' name='miles_per_week' id='miles_per_week'>

        <h2>Air Travel</h2><br>
        Miles traveled this year? 
        <br>
        <input type='number' name='air_miles_yr' id='air_miles_yr'>
        <br>
        <br>
        <input type='submit' value="Next">
</form>

{% endblock %}