{% extends 'base.html' %}

{% block title%}Waste Metrics{% endblock %}
<br>
{% block heading1 %}Waste{% endblock %}

<form action="/" method="GET">

  <p>Please answer all questions to the best of your ability</p>
    <div>  
        Number of individuals in your household?:
        <input type='number' name='num_people' id='num_people'>
        <br>
        Do you recycle aluminum?:
        <input type='radio' name='metal_waste' id='metal_yes'>Yes
        <input type='radio' name='metal_waste' id='metal_no'>No
        <br>
        Do you recycle plastic?
        <input type='radio' name='plastic_waste' id='plastic_yes'>Yes
        <input type='radio' name='plastic_waste' id='plastic_no'>No
        <br>
        Do you recycle glass?
        <input type='radio' name='glass_waste' id='glass_yes'>Yes
        <input type='radio' name='glass_waste' id='glass_no'>No
        <br>
    
        <br><input type='submit' value="Next">
    </div>
</form>


{% endblock %}